.timeline {
    position: relative;
    padding: 2rem 0;
    list-style: none;
}
.timeline::before {
    content: "";
    position: absolute;
    top: 220px;
    bottom: 100px;
    width: 4px;
    background: #dee2e6;
    left: 50%;
    margin-left: -2px;
}

.timeline-item {
    position: relative;
    margin: 2rem 0;
}

.timeline-item .timeline-point {
    position: absolute;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: #ff3232;
    left: 50%;
    top: 0;
    margin-left: -0.5rem;
}

.timeline-item .timeline-content {
    padding: 1rem;
    background: #f8f9fa;
    border-radius: 0.5rem;
    border: 1px solid #dee2e6;
    width: 45%;
    position: relative;
}

.timeline-item.right .timeline-content {
    justify-self: end;
}

.badge {
    height: fit-content;
}

@media (max-width: 1200px) {
    .timeline {
        position: relative;
        padding: 2rem 0;
        list-style: none;
    }

    .timeline::before {
        left: auto;
        right: 0.75rem;
    }

    .timeline-item .timeline-content {
        width: 80%;
    }

    .timeline-item.right .timeline-content {
        justify-self: start;
    }

    .timeline-item .timeline-point {
        left: auto !important;
        right: 6px !important;
        margin-left: 0;
        margin-right: 0;
    }
}
